body {
	padding:0;
	margin:0;
	font-size:1em;
	color:#222;
}

.bold {
	font-weight:bold;
}

.light{
	font-weight:100;
}

.bg-white {
	background-color:#fff;
}

.fanwood {
	font-family:@serif;
}

.proxima {
	font-family:@proxmima;
}

.button {
	text-transform:uppercase;
	font-weight:bold;
	padding:1em 2em;
	display:block;
	.border-radius:5px;
	&.red {
		background-color:@red;
		color:#fff;
	}
	&.blue {
		background-color:@blue;
		color:#fff;
	}
}

#main-header {}

#landing {
	background-image:url('../images/landing-bg.jpg');
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	color:#fff;
	blockquote {
		font-size:2em;
		line-height:1.6em;
	}
	p {
		font-size:1.2em;
		line-height:1.4em;
	}
}

textarea,
input[type=text],
input[type=email] {
	background-color:fadeout(#000,60%);
	.border-radius(5px);
	margin:0 0 1em 0;
	font-family:@serif;
	color:#fff;
	padding:1em;
}